robotframework-datadriver
robotframework-pabot==2.18.0
robotframework-seleniumlibrary
robotframework-datadriver[XLS]
allure-robotframework
robotframework-browser
robotframework-databaselibrary
robotframework-appiumlibrary
robotframework-requests
robotframework-jira
browserstack-local
browserstack-sdk